#set($title = "管理后台")

#set($one = "/css/editormd.min.css")

<!-- 头部导航    -->
#parse("/admin/header.html")

<div class="am-cf admin-main">

    <!-- content start -->
    <div class="admin-content">
        <div class="admin-content-body">
            <div class="am-cf am-padding am-padding-bottom-0">
                <div class="am-fl am-cf">
                    <strong class="am-text-primary am-text-lg">新建文章</strong> /
                    <small>new page</small>
                </div>
            </div>
            <hr/>
            <div class="am-g" style="width: 90%">
                <div class="am-text-primary am-text-lg am-u-md-1">标题:</div>
                <div class="am-u-md-8">
                    <input type="text" id="post_title" class="am-form-field" value="$!post.postTitle">
                </div>
                #if($post.isPUBLISHED())
                <div class="am-u-md-3">
                    <button onclick="update_post()"  class="am-btn am-btn-success">修改</button>
                </div>
                #else
                <div class="am-u-md-1">
                    <button onclick="save_post()"  class="am-btn am-btn-success">保存</button>
                </div>
                <div class="am-u-md-2">
                    <button onclick="push_post()"  class="am-btn am-btn-primary">提交</button>
                </div>
                #end
                <input type="hidden" id="post_id" value="$!post.id">
            </div>
            <div class="am-g" style="width: 90%;margin-top: 20px">
                <div class="am-u-md-2">
                    <div class="am-input-group am-input-group-sm">
                        <input type="text" id="tag_text" class="am-form-field">
                        <span class="am-input-group-btn">
                            <button class="am-btn am-btn-default" onclick="add_tag()" type="button">添加标签</button>
                        </span>
                    </div>
                </div>
                <div class="am-u-md-10">
                    <div id="tag_group" class="am-btn-group am-btn-group-xs">
                        #foreach($tag in $post.tags)
                        <button type="button" onclick="remove_tag(this)" class="am-btn am-btn-default">$tag.name</button>
                        #end
                    </div>
                </div>
            </div>
            <div class="am-g">
                <!--编辑器-->
                <div id="test-editormd" class="" style="margin-top: 50px;">
                    <textarea class="editormd-markdown-textarea" name="$id-markdown-doc">$!post.postContent</textarea>

                    <textarea class="editormd-html-textarea" name="$id-html-code"></textarea>
                </div>
            </div>

        </div>
        <footer class="admin-content-footer">
            <hr>
            <p class="am-padding-left">© 2014 AllMobilize, Inc. Licensed under MIT license.</p>
        </footer>
    </div>

</div>
<!-- content end -->

</div>
#include("/admin/footer.html")
<script type="text/javascript">
    //    调用编辑器
    var testEditor;
    $(function () {
        testEditor = editormd("test-editormd", {
            width: "90%",
            height: 740,
            syncScrolling: "single",
            path: "/lib/",
            saveHTMLToTextarea: true
        });
    });

    //文章标题
    var postTitle = $("#post_title");
    //文章Id
    var postId = $("#post_id");
    //tag 框
    var tagText = $("#tag_text");
    //tag 组
    var tagGroup = $("#tag_group");

    function push_post() {
        var Title = "";
        if (postTitle.val()){
            Title = postTitle.val();
        } else {
            alert("标题不可为空!")
            return;
        }
        var tags = new Array();
        tagGroup.children().each(function () {
            tags.push($(this).text());
        })
        $.ajax({
            type: 'POST',
            url: "/admin/post/push",
            async: false,
            data: {
                'tags': tags.toString(),
                'titleString': Title,
                'markDownString': testEditor.getMarkdown(),
                'htmlString': testEditor.getTextareaSavedHTML()
            },
            //dataType: 'json',
            success: function () {
                if (data.codeStatus == "STATUS_OK"){
                    window.location.href ="/post/"+data.items.title;
                } else {
                    alert(data.items.msg);
                }
            }
        });
    }

    function save_post() {
        var Title = "";
        if (postTitle.val()){
            Title = postTitle.val();
        } else {
            alert("标题不可为空!")
            return;
        }
        var tags = new Array();
        tagGroup.children().each(function () {
            tags.push($(this).text());
        })
        $.ajax({
            type: 'POST',
            url: "/admin/post/save",
            data: {
                'tags': tags.toString(),
                'titleString': Title,
                'markDownString': testEditor.getMarkdown(),
                'htmlString': testEditor.getTextareaSavedHTML()
            },
            //dataType: 'json',
            success: function () {
                if (data.codeStatus == "STATUS_OK"){
                    window.location.href ="/admin/edit/"+data.items.title;
                } else {
                    alert(data.items.msg);
                }
            }
        });
    }
    function update_post() {
        var Title = "";
        if (postTitle.val()){
            Title = postTitle.val();
        } else {
            alert("标题不可为空!")
            return;
        }
        var id = -1;
        if (postId.val()){
            id = postId.val();
        }
        var tags = new Array();
        tagGroup.children().each(function () {
            tags.push($(this).text());
        })
        $.ajax({
            type: 'POST',
            url: "/admin/post/update",
            data: {
                'postId': id,
                'tags': tags.toString(),
                'titleString': Title,
                'markDownString': testEditor.getMarkdown(),
                'htmlString': testEditor.getTextareaSavedHTML()
            },
            //dataType: 'json',
            success: function (data) {
                if (data.codeStatus == "STATUS_OK"){
                    window.location.href ="/post/"+data.items.title;
                } else {
                    alert(data.items.msg);
                }
            }
        });
    }
    function add_tag() {
        if(tagText.val()){
            tagGroup.append("<button type=\"button\" onclick=\"remove_tag(this)\" class=\"am-btn am-btn-default\">"+tagText.val()+"</button>");
            tagText.val("");
        }

    }
    function remove_tag(tag) {
        tag.remove()
    }
</script>
<script src="//cdn.bootcss.com/zepto/1.0rc1/zepto.min.js"></script>
<script src="/js/editormd.min.js"></script>