#set($title = "管理后台")


<!-- 头部导航    -->
#parse("/admin/header.html")

<div class="am-cf am-padding am-padding-bottom-0">
    <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">所有文章</strong> / <small>list</small></div>
</div>

<hr>

<div class="am-g">
    <div class="am-u-sm-12 am-u-md-6">
        <div class="am-btn-toolbar">
            <div class="am-btn-group am-btn-group-xs">
                <button type="button" class="am-btn am-btn-default"><span class="am-icon-trash-o"></span> 删除</button>
            </div>
        </div>
    </div>
    <div class="am-u-sm-12 am-u-md-3">
        <div class="am-form-group">
            <select data-am-selected="{btnSize: 'sm'}">
                <option value="option1">所有类别</option>
            </select>
        </div>
    </div>
    <div class="am-u-sm-12 am-u-md-3">
        <div class="am-input-group am-input-group-sm">
            <input type="text" class="am-form-field">
            <span class="am-input-group-btn">
<button class="am-btn am-btn-default" type="button">搜索</button>
</span>
        </div>
    </div>
</div>

<div class="am-g">
    <div class="am-u-sm-12">
        <form class="am-form">
            <table class="am-table am-table-striped am-table-hover table-main">
                <thead>
                <tr>
                    <th class="table-check"><input type="checkbox" /></th><th class="table-id">ID</th><th class="table-title">标题</th><th class="table-type">类别</th><th class="table-author am-hide-sm-only">作者</th><th class="table-date am-hide-sm-only">修改日期</th><th class="table-set">操作</th>
                </tr>
                </thead>
                <tbody>
                #foreach($post in $page.content)
                <tr>
                    <td><input type="checkbox" /></td>
                    <td>$post.id</td>
                    <td><a href="/post/$post.postTitle">$post.postTitle</a></td>
                    <td>$post.postType</td>
                    <td class="am-hide-sm-only">$post.user.userLogin</td>
                    <td class="am-hide-sm-only">$!post.createdDate.toString("yyyy/MM/dd HH:mm:ss")</td>
                    <td>
                        <div class="am-btn-toolbar">
                            <div class="am-btn-group am-btn-group-xs">
                                <button class="am-btn am-btn-default am-btn-xs am-text-secondary"><a  href="/admin/edit/$!post.postTitle"><span class="am-icon-pencil-square-o"></span> 编辑</a></button>
                                <button class="am-btn am-btn-default am-btn-xs am-hide-sm-only"><a  href="/admin/post/remove/$!post.Id" class="am-text-danger"><span class="am-icon-trash-o"></span> 删除</a></button>
                                #if(!$post.isPUBLISHED())
                                <button class="am-btn am-btn-default am-btn-xs am-text-secondary"><span class="am-icon-plus-square-o"></span> 发布</button>
                                #end
                            </div>
                        </div>
                    </td>
                </tr>
                #end
                </tbody>
            </table>
            <div class="am-cf">
                共 $!page.totalElements 条记录
                <div class="am-fr">
                    <ul class="am-pagination">
                        #if($page.first)
                        <li class="am-disabled"><a href="#">«</a></li>
                        #else
                        #set($index=$page.number - 1)
                        <li><a href="/admin/list/$index">«</a></li>
                        #end
                        #if($page.last)
                        <li class="am-disabled"><a href="#">»</a></li>
                        #else
                        #set($index=$page.number + 1)
                        <li><a href="/admin/list/$index">»</a></li>
                        #end
                    </ul>
                </div>
            </div>
            <hr />
            <p>talk is cheap , show me the code :D</p>
        </form>
    </div>
</div>
#parse("/admin/footer.html")