<!-- Sidebar Container -->
<div class="
                col-lg-3 col-lg-offset-0
                col-md-3 col-md-offset-0
                col-sm-12
                col-xs-12
                sidebar-container
            ">

    <!-- About Me -->
    <section class="visible-md visible-lg" style="padding: 0 18px">
        <div class="short-about">
            <!--侧边栏头像-->
            <!--<img src="./xx"/>-->
            <h5><a href="/about/">羊三</a></h5>
            <p>我就是羊三</p>
            <hr>
            <!-- SNS Link 社交 -->
            <ul class="list-inline">
                <li>
                    <a target="_blank" href="https://github.com/sheepmen">
                                        <span class="fa-stack fa-lg">
                                            <i class="fa fa-circle fa-stack-2x"></i>
                                            <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                                        </span>
                    </a>
                </li>
            </ul>
        </div>
    </section>

    <!-- Featured Tags  标签 -->
    <section>
        <div class="tags">

            <a href="/tag/url" title="标签title"
               rel="10">标签</a>
        </div>
    </section>

    <hr>
    <h5 style="text-align: center;">Friends</h5>
    <ul class="list-inline" style="text-align: center;">
        <li><a href="/" target="_blank">友情</a></li>
    </ul>

</div>