@media only screen and (min-width: 1200px) {
    .blog-g-fixed {
        max-width: 1200px;
    }
}

@media only screen and (min-width: 641px) {
    .blog-sidebar {
        font-size: 1.4rem;
    }
}

.blog-main {
    padding: 20px 0;
}

.blog-title {
    margin: 10px 0 20px 0;
}

.blog-meta {
    font-size: 14px;
    margin: 10px 0 20px 0;
    color: #222;
}

.blog-meta a {
    color: #27ae60;
}

.blog-pagination a {
    font-size: 1.4rem;
}

.blog-team li {
    padding: 4px;
}

.blog-team img {
    margin-bottom: 0;
}

.blog-content img,
.blog-team img {
    max-width: 100%;
    height: auto;
}

.blog-footer {
    padding: 10px 0;
    text-align: center;
}