#set($title = "羊三的blog站")

## header中的css占位
#set($one = "/css/index.css")

<!-- 头部导航    -->
#parse("/header.html")


<div class="am-g am-g-fixed blog-g-fixed">
  <div class="am-u-md-8">

    #foreach($post in $page.content)
    <article class="blog-main">
      <h3 class="am-article-title blog-title">
        <a href="/post/$!post.postTitle">$!post.postTitle</a>
      </h3>
      <h4 class="am-article-meta blog-meta">by <a href="">$!post.user.userLogin</a> posted on $!post.createdDate under <a href="#">上海</a></h4>

      <div class="am-g blog-content">
        <div class="am-u-lg-12">
          $!post.postShow
        </div>
      </div>
    </article>
    #end

    <hr class="am-article-divider blog-hr">

    <hr class="am-article-divider blog-hr">
    <ul class="am-pagination blog-pagination">
      #if(!$page.first)
      #set($index=$page.number - 1)
      <li class="am-pagination-prev"><a href="/page/$index">&laquo; 上一页</a></li>
      #end
      #if(!$page.last)
      #set($index=$page.number + 1)
      <li class="am-pagination-next"><a href="/page/$index">下一页 &raquo;</a></li>
      #end
    </ul>
  </div>

  #include("/sidebar.html")

</div>
#include("/footer.html")
