<!-- 头部导航    -->
#parse("./blog/header.html")
<!-- Main Content -->
<div class="container custom-haojen-container">
    <!-- Post Container -->
    <div class="row">
        <div class="col-lg-8 col-lg-offset-1 col-md-8 col-md-offset-1 col-sm-12 col-xs-12 post-container">
            <!-- Main Content -->
            #foreach($post in $page.content)
            <div class="post-preview poetry">
                <a href="/post/$post.postTitle">
                    <h2 class="post-title">
                        $!post.postTitle
                    </h2>
                    <p class="post-meta">
                        <i class="fa fa-calendar" aria-hidden="true"></i> $!post.createdDate.toString("yyyy/MM/dd HH:mm:ss EE")
                    </p>
                    测试标题自标题
                    <h3 class="post-subtitle">
                        子子标题
                    </h3>
                    <div class="post-content-preview">
                        <p>
                            啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊
                            啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊
                        </p>
                    </div>
                </a>

            </div>
            <hr>
            #end
            <!-- 翻页 pager -->

            <ul class="pager">
                #if(!$page.first)
                #set($index=$page.number - 1)
                <li class="previous">
                    <a href="/page/$index">&larr; Newer Posts</a>
                </li>
                #end

                #if(!$page.last)
                #set($index=$page.number + 1)
                <li class="next">
                    <a href="/page/$index">Older Posts &rarr;</a>
                </li>
                #end
            </ul>
        </div>
        <!-- Sidebar Container -->
        #parse("./blog/sidebar.html")
    </div>
</div>

#include("./blog/footer.html")