#set($title = "羊三的blog站")

## header中的css占位
#set($one = "/css/page.css")

<!-- 头部导航    -->
#parse("./header.html")

<div class="am-g my-head">
  <div class="am-u-sm-12 am-article">
    <!--文章标题-->
    <h1 class="am-article-title">$!post.postTitle</h1>
    <!--文章作者-->
    <p class="am-article-meta">
      by <a href="">$!post.user.userLogin</a> posted on $!post.createdDate.toString("yyyy/MM/dd HH:mm:ss EE") under <a href="#">上海</a>
    </p>
  </div>
</div>
<hr class="am-article-divider"/>
<div class="am-g am-g-fixed">
  <div class="am-u-md-10 am-u-md-push-1">
    <div class="am-g">
      <div class="am-u-sm-11 am-u-sm-centered">
        <div class="am-cf am-article">
          <!--文章内容-->
          $!post.postShow
        </div>
        <div data-am-widget="duoshuo" class="am-duoshuo am-duoshuo-default" data-ds-short-name="sheep3">
          <div class="ds-thread" >
          </div>
        </div>
        <hr/>
      </div>
    </div>
  </div>
</div>

#include("./footer.html")
