<div class="am-u-md-4 blog-sidebar">
    <div class="am-panel-group">
        <section class="am-panel am-panel-default">
            <div class="am-panel-hd">关于我</div>
            <div class="am-panel-bd">
                <p>我是羊三羊三啦我是羊三羊三啦我是羊三羊三啦我是羊三羊三啦我是羊三羊三啦我是羊三羊三啦我是羊三羊三啦我是羊三羊三啦我是羊三羊三啦</p>
                <a class="am-btn am-btn-success am-btn-sm" href="#">查看更多 →</a>
            </div>
        </section>
        <section class="am-panel am-panel-default">
            <div class="am-panel-hd">最近更新</div>
            <ul class="am-list blog-list">
                #foreach($hot in $hotPage.content)
                <li><a href="/post/$!hot.postTitle">$!hot.postTitle</a></li>
                #end
            </ul>
        </section>
        <section class="am-panel am-panel-default">
            <div class="am-panel-hd">友链</div>
            <div class="am-panel-bd">
                <ul class="am-avg-sm-4 blog-team">
                    <li>
                        <a href="#">Gay吧</a>
                    </li>
                </ul>
            </div>
        </section>
    </div>
</div>